<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Air Force Galery</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <!-- Cabeçalho -->
    <header>
      <h1>Air Force Galery</h1>
    </header>
    <!-- Grid de produtos -->
    <main class="container">
      <section class="products-container">
        <div class="card">
          <div class="product-image" id="img-1"></div>
          <h3>Air force 1</h3>
          <p>Este Air foce é muito bom pelo fato de...</p>
          <p>
            R$
            <span class="bold">547,78</span>
          </p>
          <a href="#" class="btn">Comprar</a>
        </div>
        <div class="card">
          <div class="product-image" id="img-2"></div>
          <h3>Air Force 2</h3>
          <p>Este Air Force é muito bom pelo fato de...</p>
          <p>
            R$
            <span class="bold">784.99</span>
          </p>
          <a href="#" class="btn">Comprar</a>
        </div>
        <div class="card">
          <div class="product-image" id="img-3"></div>
          <h3>Air Force 3</h3>
          <p>Este Air Force é muito bom pelo fato de...</p>
          <p>
            R$
            <span class="bold">429,99</span>
          </p>
          <a href="#" class="btn">Comprar</a>
        </div>
        <div class="card">
          <div class="product-image" id="img-4"></div>
          <h3>Air Force 4</h3>
          <p>Este Air Force é muito bom pelo fato de...</p>
          <p>
            R$
            <span class="bold">578,8</span>
          </p>
          <a href="#" class="btn">Comprar</a>
        </div>
        <div class="card">
          <div class="product-image" id="img-5"></div>
          <h3>Air Force 5</h3>
          <p>Este Air Force é muito bom pelo fato de...</p>
          <p>
            R$
            <span class="bold">547,78</span>
          </p>
          <a href="#" class="btn">Comprar</a>
        </div>
        <div class="card">
          <div class="product-image" id="img-6"></div>
          <h3>Air Force 6</h3>
          <p>Este Air Force é muito bom pelo fato de...</p>
          <p>
            R$
            <span class="bold">457,78</span>
          </p>
          <a href="#" class="btn">Comprar</a>
        </div>
      </section>
    </main>
    <!-- Rodapé -->
    <footer>
      <p>
        <span class="bold">Air Force Galery</span>
        &copy; 2021
      </p>
    </footer>
  </body>
</html>